<!DOCTYPE html>
<html lang="en">
  <%-include ('navbar') %>
  <body style="background-color: black;">
    <br />
    <br />
    <div class="columns">
      <div class="column is-full" style="text-align: center;">
        <iframe
          width="1280"
          height="300"
          src="https://www.youtube.com/embed/szby7ZHLnkA"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="columns is-vcentered">
      <div class="column is-4" style="text-align: center;">
        <div class="container">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data[0].poster_path %>"
            width="305"
            height="100"
            alt=""
          />
        </div>
      </div>
      <div class="column">
        <section class="hero">
          <div class="hero-body">
            <div class="container">
              <h1 class="title" style="color: white;">
                <%= data[0].title %>
              </h1>
              <h1 class="subtitle" style="color:hsl(171, 100%, 41%)">
                Now Playing
              </h1>
              <br />
              <br />
              <h2 class="subtitle" style="color: white;">
                <%= data[0].summary %>
              </h2>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="container">
      <div class="column" style="text-align: left;">
        <br />
        <h1 class="title" style="color:hsl(171, 100%, 41%)">
          WHAT TO WATCH
        </h1>
        <h2 class="subtitle">
            This week's top TV and movies
        </h2>
        <br />
      </div>
    </div>

    <div class="container">
      <div class="columns">
        <% for (let i = 1; i < data.length; i++) { %>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by2">
                <img
                  src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data[i].poster_path %>"
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4"><%=data[i].title %></p>
                  <p class="subtitle is-6"><%=data[i].release_date %></p>
                </div>
              </div>

              <div class="content">
                <%=data[i].summary %>
              </div>
            </div>
          </div>
        </div>

        <%} %>
      </div>
    </div>

    <div class="container">
      <div class="column" style="text-align: left;">
        <br />
        <h1 class="title" style="color:hsl(171, 100%, 41%)">
          UPCOMING MOVIES
        </h1>
        <h2 class="subtitle">
            Trailer for upcoming releases
        </h2>
        <br />
      </div>
    </div>

    <div class="container" style="height: auto">
      <div class="columns">
        <div class="column">
          <iframe
            width="400"
            height="300"
            src="https://www.youtube.com/embed/SyTg7RIn-X8"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="column">
          <iframe
            width="400"
            height="300"
            src="https://www.youtube.com/embed/8j6wDoyiyd4"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="column">
          <iframe
            width="400"
            height="300"
            src="https://www.youtube.com/embed/JggpSpqxS6I"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="column" style="text-align: left;">
            <br />
            <h1 class="title" style="color:hsl(171, 100%, 41%)">
              MORE TO EXPLORE
            </h1>
            <br />
          </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="columns is-vcentered">
                    <div class="column is-4" style="text-align: center;">
                      <div class="container">
                        <img
                          src="https://m.media-amazon.com/images/M/MV5BNDJhZjRhZDctZTE4Ni00YWUzLWI4NjQtMzZkODc5Y2RiNGEzXkEyXkFqcGdeQXVyMjA1NTgyODc@._V1_SY300_CR12,0,200,300_AL_.jpg"
                          width="250"
                          height="100"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="column">
                      <section class="hero">
                        <div class="hero-body">
                          <div class="container">
                            <h1 class="subtitle" style="color: white;">
                                ‘Lost Boys’ Pilot at CW Casts Lincoln Younes in Kiefer Sutherland Role
                            </h1>
                            
                                
                                    <span style="color:hsl(171, 100%, 41%)">27 Feb</span>
                                    <span >Variety - TV News</span>

                            
                            <br />
                            <br />
                            <h2 class="subtitle" style="color: white;">
                              
                            </h2>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
            </div>

            <div class="column">
                <div class="columns is-vcentered">
                    <div class="column is-4" style="text-align: center;">
                      <div class="container">
                        <img
                          src="https://m.media-amazon.com/images/M/MV5BYzc2YTg4MDktMzg0ZS00OTE3LWIwYzMtMzE0ZmJjNGE2ZWM5XkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SY300_CR4,0,200,300_AL_.jpg"
                          width="250"
                          height="100"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="column">
                      <section class="hero">
                        <div class="hero-body">
                          <div class="container">
                            <h1 class="subtitle" style="color: white;">
                                ‘Lizzie McGuire’ Reboot Still In The Works Despite Ominous Message From Star Hilary Duff
                            </h1>
                            
                                
                                    <span style="color:hsl(171, 100%, 41%)">26 Feb</span>
                                    <span >Deadline</span>

                            
                            <br />
                            <br />
                            <h2 class="subtitle" style="color: white;">
                              
                            </h2>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
            </div>
            <div class="column">
                <div class="columns is-vcentered">
                    <div class="column is-4" style="text-align: center;">
                      <div class="container">
                        <img
                          src="https://m.media-amazon.com/images/M/MV5BMTY1NjAzNzE1MV5BMl5BanBnXkFtZTYwNTk0ODc0._V1_SY300_CR0,0,200,300_AL_.jpg"
                          width="250"
                          height="100"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="column">
                      <section class="hero">
                        <div class="hero-body">
                          <div class="container">
                            <h1 class="subtitle" style="color: white;">
                                Steven Spielberg Won’t Direct ‘Indiana Jones 5,’ James Mangold in Talks to Replace (Exclusive)
                            </h1>
                            
                                
                                    <span style="color:hsl(171, 100%, 41%)">26 Feb</span>
                                    <span >Variety</span>

                            
                            <br />
                            <br />
                            <h2 class="subtitle" style="color: white;">
                              
                            </h2>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
            </div>
    </div>

    </div>
  </body>
</html>
