<!DOCTYPE html>
<html lang="en">
  <%-include ('navbar') %>
  <body style="background-color: black;">
    <br />
    <br />
    <div class="columns">
      <div class="column is-full" style="text-align: center;">
        <iframe
          width="1280"
          height="300"
          src="https://www.youtube.com/embed/szby7ZHLnkA"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="columns is-vcentered">
      <div class="column is-4" style="text-align: center;">
        <div class="container">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data[0].poster_path %>"
            width="305"
            height="100"
            alt=""
          />
        </div>
      </div>
      <div class="column">
        <section class="hero">
          <div class="hero-body">
            <div class="container">
              <h1 class="title" style="color: white;">
                <%= data[0].title %>
              </h1>
              <h1 class="subtitle" style="color:hsl(171, 100%, 41%)">
                Now Playing
              </h1>
              <br />
              <br />
              <h2 class="subtitle" style="color: white;">
                <%= data[0].summary %>
              </h2>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="column" style="text-align: center;">
      <br />
      <h1 class="title" style="color:hsl(171, 100%, 41%)">
        WHAT TO WATCH
      </h1>
      <br />
    </div>

    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by2">
                <img
                  src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data[1].poster_path %>"
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4"><%=data[1].title %></p>
                  <p class="subtitle is-6"><%=data[1].release_date %></p>
                </div>
              </div>

              <div class="content">
                <%=data[1].summary %>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by2">
                <img
                  src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data[2].poster_path %>"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-6"><%=data[2].title %></p>
                  <p class="subtitle is-6"><%=data[2].release_date %></p>
                </div>
              </div>

              <div class="content">
                <%=data[2].summary %>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by2">
                <img
                  src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data[3].poster_path %>"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4"><%=data[3].title %></p>
                  <p class="subtitle is-6"><%=data[3].release_date %></p>
                </div>
              </div>

              <div class="content">
                <%=data[3].summary %>
                <br />
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by2">
                <img
                  src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data[4].poster_path %>"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                    <p class="title is-4"><%=data[4].title %></p>
                    <p class="subtitle is-6"><%=data[4].release_date %></p>
                </div>
              </div>

              <div class="content height">
                <%=data[4].summary %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
