<!DOCTYPE html>
<html lang="en">
  <%- include('navbar') %>
  <body style="background-color: black;">
    <div style="text-align: center;">
      <br />
      <br />
      <img src="/logo.png" width="500" height="500" />
      <br />
      <br />
    </div>

    <div class="container">
      <br />
      <div class="columns">
        <div class="column">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data[5].poster_path %>"
            alt=""
            class="is-fullwidth"
          />
          <br />
          <button class="button is-primary is-rounded is-fullwidth">
            <a href="/add/watchlist/<%=data[5].id %>" style="color: white;">
              Add to watchlist
            </a>
          </button>
        </div>
        <div class="column">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data[6].poster_path %>"
            class="is-fullwidth"
            alt=""
          />
          <button class="button is-primary is-rounded is-fullwidth">
            <a href="/add/watchlist/<%=data[6].id %>" style="color: white;">
              Add to watchlist
            </a>
          </button>
        </div>
        <div class="column">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data[7].poster_path %>"
            class="is-fullwidth"
            alt=""
          />
          <button class="button is-primary is-rounded is-fullwidth">
            <a href="/add/watchlist/<%=data[7].id %>" style="color: white;">
              Add to watchlist
            </a>
          </button>
        </div>
        <div class="column">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data[8].poster_path %>"
            class="is-fullwidth"
            alt=""
          />
          <button class="button is-primary is-rounded is-fullwidth">
            <a href="/add/watchlist/<%=data[8].id %>" style="color: white;">
              Add to watchlist
            </a>
          </button>
        </div>
      </div>
      <br />
      <br />
      <div class="columns">
        <div class="column">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data[9].poster_path %>"
            class="is-fullwidth"
            alt=""
          />
          <button class="button is-primary is-rounded is-fullwidth">
            <a href="/add/watchlist/<%=data[9].id %>" style="color: white;">
              Add to watchlist
            </a>
          </button>
        </div>
        <div class="column">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data[10].poster_path %>"
            class="is-fullwidth"
            alt=""
          />
          <button class="button is-primary is-rounded is-fullwidth">
            <a href="/add/watchlist/<%=data[10].id %>" style="color: white;">
              Add to watchlist
            </a>
          </button>
        </div>
        <div class="column">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data[11].poster_path %>"
            class="is-fullwidth"
            alt=""
          />
          <button class="button is-primary is-rounded is-fullwidth">
            <a href="/add/watchlist/<%=data[11].id %>" style="color: white;">
              Add to watchlist
            </a>
          </button>
        </div>
        <div class="column">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data[12].poster_path %>"
            class="is-fullwidth"
            alt=""
          />
          <button class="button is-primary is-rounded is-fullwidth">
            <a href="/add/watchlist/<%=data[12].id %>" style="color: white;">
              Add to watchlist
            </a>
          </button>
        </div>
      </div>
      <br />
      <br />
      <div class="columns">
        <div class="column">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data[13].poster_path %>"
            class="is-fullwidth"
            alt=""
          />
          <button class="button is-primary is-rounded is-fullwidth">
            <a href="/add/watchlist/<%=data[13].id %>" style="color: white;">
              Add to watchlist
            </a>
          </button>
        </div>
        <div class="column">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data[14].poster_path %>"
            class="is-fullwidth"
            alt=""
          />
          <button class="button is-primary is-rounded is-fullwidth">
            <a href="/add/watchlist/<%=data[14].id %>" style="color: white;">
              Add to watchlist
            </a>
          </button>
        </div>
        <div class="column">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data[15].poster_path %>"
            class="is-fullwidth"
            alt=""
          />
          <button class="button is-primary is-rounded is-fullwidth">
            <a href="/add/watchlist/<%=data[15].id %>" style="color: white;">
              Add to watchlist
            </a>
          </button>
        </div>
        <div class="column">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data[16].poster_path %>"
            class="is-fullwidth"
            alt=""
          />
          <button class="button is-primary is-rounded is-fullwidth">
            <a href="/add/watchlist/<%=data[16].id %>" style="color: white;">
              Add to watchlist
            </a>
          </button>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
  </body>
  <footer class="footer" style="background-color: #363636;;">
    <div class="content has-text-centered">
      <p style="color: white;">
        <strong style="color:hsl(171, 100%, 41%)">KOLOKAL</strong> by
        <a href="https://jgthms.com" style="color:hsl(171, 100%, 41%)"
          >Darindra Ramantya Khadifa</a
        >
        &
        <a href="https://jgthms.com" style="color:hsl(171, 100%, 41%)"
          >Akbar Danial Akma</a
        >.The source code is licensed
        <a
          href="http://opensource.org/licenses/mit-license.php"
          style="color:hsl(171, 100%, 41%)"
          >MIT</a
        >. The website content is licensed
        <a
          href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
          style="color:hsl(171, 100%, 41%)"
          >CC BY NC SA 4.0</a
        >.
      </p>
    </div>
  </footer>
</html>
