<!DOCTYPE html>
<html lang="en">
    <%-include ('navbar') %>
<body style="background-color: #363636;">
    <section class="hero is-dark has-text-centered">
        <div class="hero-body">
          <div class="container">
            <div class="columns is-centered">
              <div class="column">
                <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">Designer, Front-end Developer &amp; Mentor</h1>
                <h2 class="subtitle is-size-4-desktop">I design and code beautifully simple things, and I love what I do.</h2><img class="avatar" src="https://mattfarley.ca/img/mf-avatar.svg">
              </div>
            </div>
          </div>
        </div>
        <div class="hero-foot">
            <div class="container">
                <div class="columns">
                  <% for (let i = 0; i < data.length; i++) { %>
                  <div class="column">
                    <div class="card">
                      <div class="card-image">
                        <figure class="image is-4by2">
                          <img
                            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data[i].poster_path %>"
                          />
                        </figure>
                      </div>
                      <div class="card-content">
                        <div class="media">
                          <div class="media-content">
                            <p class="title is-4"><%=data[i]%></p>
                            <p class="subtitle is-6"><%=data[i] %></p>
                          </div>
                        </div>
          
                        <div class="content">
                          <%=data[i] %>
                        </div>
                        <a
                          href=""
                          style="color:hsl(171, 100%, 41%); text-align: center;"
                        >
                          <span class="icon">
                            <i class="fas fa-bookmark"></i> </span
                          >Add to watchlist
                        </a>
                      </div>
                    </div>
                  </div>
          
                  <%} %>
                </div>
                
              </div>
        </div>
      </section>

      
</body>
</html>