<!DOCTYPE html>
<html lang="en">
  <%-include ('navbar') %>
  <body style="background-color: black;">
    <section class="hero is-black has-text-centered">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column">
              <h1
                class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile"
              >
               <%= data.getFullName() %>
              </h1>
              <img
                class="avatar"
                src="https://mattfarley.ca/img/mf-avatar.svg"
              />
              
            </div>
            
          </div>
        </div>
      </div>
    </section>
    <div class="container">
        <div class="columns">
          <% for (let i = 0; i < data.Movies.length; i++) { %>
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by2">
                  <img
                    src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data.Movies[i].poster_path %>"
                  />
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4"><%=data.Movies[i].title %></p>
                    <p class="subtitle is-6"><%=data.Movies[i].release_date %></p>
                  </div>
                </div>
  
                <div class="content">
                  <%=data.Movies[i].summary %>
                </div>
                <a
                  href="/add/watchlist/<%=data.Movies[i].id %>"
                  style="color:hsl(171, 100%, 41%); text-align: center;"
                >
                  <span class="icon">
                    <i class="fas fa-bookmark"></i> </span
                  >Watched
                </a>
              </div>
            </div>
          </div>
  
          <%} %>
        </div>
      </div>
  
  </body>
  <footer class="footer" style="background-color: #363636;;">
    <div class="content has-text-centered">
      <p style="color: white;">
        <strong style="color:hsl(171, 100%, 41%)">KOLOKAL</strong> by
        <a href="https://jgthms.com" style="color:hsl(171, 100%, 41%)"
          >Darindra Ramantya Khadifa</a
        >
        &
        <a href="https://jgthms.com" style="color:hsl(171, 100%, 41%)"
          >Akbar Danial Akma</a
        >.The source code is licensed
        <a
          href="http://opensource.org/licenses/mit-license.php"
          style="color:hsl(171, 100%, 41%)"
          >MIT</a
        >. The website content is licensed
        <a
          href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
          style="color:hsl(171, 100%, 41%)"
          >CC BY NC SA 4.0</a
        >.
      </p>
    </div>
  </footer>
</html>
